@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #EEF0F4;

}

input {
  color: #432000;
  background-color: #DCE1EB;


}

button {
  color: #FDFDFD;
    background-color: #AC485A;
}

.add-card {
  background-color: #f0f2f6;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}



