@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

:root {
  --effect: hover 1s linear infinite;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #eef0f4;
}

input {
  color: #432000;
  background-color: #dce1eb;
  margin-block: 30px;
  text-align: center;
}

button {
  color: #fdfdfd;
  background-color: #ac485a;
  box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.1);
  transition: 0.5s all;
  cursor: pointer;
}

button:active {
  box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  scale: 98%;
}

#input-field,
#add-button {
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 85%;
  font-size: 18px;
}

.add-card {
  background-color: #f0f2f6;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 350px;
  max-width: 350px;
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

#item-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px 10px;
  margin-top: 20px;
  list-style: none;
  color: #6f573c;
  li{
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
  }
}


// Loading Animation
@keyframes load {
  0%{
      opacity: 0.08;
      filter: blur(5px);
      letter-spacing: 3px;
      }
}

.animate {
display:flex;
justify-content: center;
align-items: center;
animation: load 1.2s infinite 0s ease-in-out;
animation-direction: alternate;
text-shadow: 0 0 1px white;
}